h1{
    /*
    color :rebeccapurple;
    color: rgd(46,21,128);
    color: rgba(55,240,55,0.3);
    color: #f00;
    */

    color: #ff0000;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

label{
    display: block;
    font-size: 12px;
    color: #a00
}

input[type="text"], input[type="password"], select, textarea, input[type="submit"] {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 1px solid #ccc;
    background-color: #eee;
    font-size: 15px;
    width: 500px;
}

div label {
    display: inline;
}

div+div{
    margin-top : 20px;
}



input[type="checkbox"], input[type="radio"] {
    width: 20px;
    height: 20px;
}

input:hover , select:hover, textarea:hover {
    background: #faa;
}

tr {
    background-color: rgb(53, 158, 228);
}

tr:hover {
    background-color:rgb(91, 102, 202);
}

th {
    background-color:rgba(46, 194, 120, 0.8);
}